.Header {
  position: absolute; /* 부모 요소를 기준으로 위치를 설정 */
  top: 10px; /* 상단에서 10px 떨어진 위치 */
  right: 10px; /* 오른쪽에서 10px 떨어진 위치 */
  /* 추가적인 스타일링 */
  font-size: 16px;
  color: #007BFF;
}

.Header a {
  text-decoration: none; /* 링크 밑줄 제거 */
  color: inherit; /* 부모 요소의 색상 상속 */
}

.Header a:hover {
  color: #0056b3; /* 호버 시 색상 변경 */
}

.page {
  margin-right: 20px;
}

.Logo {
  position: fixed; /* 부모 요소를 기준으로 위치를 설정 */
  top: 10px; /* 상단에서 10px 떨어진 위치 */
  left: 10px;
  font-size: 16px;
}
 